.seedsAmount{
    position: absolute;
    top: 97%;
    left: 90%;
}

.movementguide{
    position: absolute;
    bottom: -1211%;
    left: 0%;
}

.Gameguide{
    position: absolute;
    bottom: -1211%;
    left: 80%;
}