.container-soilErosion{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.slider-soilErosion{
  background-color: blue;
  padding-top: 0%;
}

.h2-soilErosion{
  text-align: center;
  background-color: #17761B;
  color: white;
  padding: auto;
  
}
.soilErosion-combat{
  padding-top: 3%;
  padding-bottom: 3%;
}

.nav-link {
  text-decoration: none;
}

.active-link .btn {
  background-color: #28a745; /* Cambia el color del botón si la ruta está activa */
}

.btn {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}
