.container-deforestation {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr; /* Ensure central column is responsive */
    background-color: #FBF6F0;
}

.side-column {
    display: none; /* Hide side columns by default */
}

.main-column {
    padding: 20px;
}

@media (min-width: 768px) {
    .side-column {
        display: block; /* Show side columns on medium and larger screens */
    }
}

@media (max-width: 767px) {
    .container-deforestation {
        grid-template-columns: 1fr; /* Single column layout on small screens */
    }
}

.slider-deforestation {
    background-color: blue;
    padding-top: 0%;
}

.h2-deforestation {
    text-align: center;
    background-color: #17761B;
    color: white;
    padding: auto;
}


