button {
  padding: 10px 20px;
  font-size: medium;
  color: #fff;
  background-color: #ff5e00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}